/* You can add global styles to this file, and also import other style files */


:root {
    /* ------------------------------------------------------------------- 
        Assign the default/constant/env values to CSS variables
    */
    --safe-area-inset-top   : 0px;
    --safe-area-inset-right : 0px;
    --safe-area-inset-bottom: 0px;
    --safe-area-inset-left  : 0px;  

    @supports (top: constant(safe-area-inset-top)){
        --safe-area-inset-top   : constant(safe-area-inset-top);
        --safe-area-inset-right : constant(safe-area-inset-right);
        --safe-area-inset-bottom: constant(safe-area-inset-bottom);
        --safe-area-inset-left  : constant(safe-area-inset-left);          
    }

    @supports (top: env(safe-area-inset-top)){
        --safe-area-inset-top   : env(safe-area-inset-top);
        --safe-area-inset-right : env(safe-area-inset-right);
        --safe-area-inset-bottom: env(safe-area-inset-bottom);
        --safe-area-inset-left  : env(safe-area-inset-left);            
    }          
}

.slide {
    height: 100vh;
    position: relative;

    @supports( padding-top: max(0px)) {
        padding-top: var(--safe-area-inset-top);
        padding-left: var(--safe-area-inset-left);
        padding-right: var(--safe-area-inset-right);
        padding-bottom: var(--safe-area-inset-bottom);
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
    }
}

.am-carousel-wrap-dot > span {
    display: block;
    width: 16px;
    height: 16px;
    margin: 15px 5px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 5px #000c;
}

.am-carousel-wrap-dot-active > span {
    background: #00ffed;
}

.dot-indicator {
    top: 0;
    bottom: unset;

    @supports(padding-top: max(0px)) {
        padding-top:  var(--safe-area-inset-top);
    }
}

/*  */

.detail-button {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 5%;

    h2 {
        color: #fff;
        text-align: center;
        font-family: 'Monaco', 'Consolas', sans-serif;
    }

    @keyframes arrowanimation {
        0% {
            transform: translateY( 0px);
        }
        50% {
            transform: translateY( -15px);
        }
        100% {
            transform: translateY( 0px);
        }
    }

    img {
        animation: arrowanimation 2s infinite;
    }
}

.informations {
    .info-container {
        position: relative;
       
        @supports( margin-top: max(0px)) {
            margin-top: var(--safe-area-inset-top);
            margin-left: var(--safe-area-inset-left);
            margin-right: var(--safe-area-inset-right);
            margin-bottom: var(--safe-area-inset-bottom);
        }
    }

    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100vw;
    top: 100vh;
    height: 100vh;

    transition: top 0.66s ease;

    &.open {
        top: 0vh;
    }

    .close {
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
    }

    ul {
        li {
            position: relative;
            padding-left: 15px;

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 7.5px;
                height: 7.5px;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                background-color: #00ffed;
            }
        }
    }
}

body,html {
    font-family: 'Monaco', 'Consolas', sans-serif;
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
}